<div class="box box-solid">
    <div class="box-header with-border bg-default">
      <h3 class="box-title text-green">بياssنات التذكرة <small>رقم التذكرة: #401</small></h3>
      <div class="box-tools pull-right">
          <button class="btn btn-box-tool"><i class="fa fa-pencil text-green"></i></button>
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <form class="form-horizontal">
            <p class="text-gray">تاريخ اخر رد: <span>13/10/2019</span> | الساعة: <span>11:10 AM</span></p><hr/>
            <div class="form-group">
              <div class="col-sm-12">
                <label for="inputExperience" class="col-sm-3 control-label">المصدر</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option selected>اختر مصدر التذكرة</option>
                    <option>اتصال</option>
                    <option>بريد إلكتروني</option>
                    <option>مواقع التواصل</option>
                  </select>
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->
            <div class="form-group">
              <div class="col-sm-12">
                <label for="inputGroup" class="col-sm-3 control-label">النوع</label>
                <div class="col-sm-9"><!-- add class "has-error" for validation-->
                  <select class="form-control">
                    <option selected>اختر النوع</option>
                    <option>صرف دواء</option>
                    <option>تقرير طبي</option>
                    <option>اسعاف</option>
                    <option>حجز</option>
                    <option>شكوى</option>
                    <option>متابعة ادارية</option>
                    <option>استفسار</option>
                  </select>
                  <!-- <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i>خطأ في الأدخال</label> -->
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->
            <div class="form-group">
              <div class="col-sm-12">
                <label for="inputQ1" class="col-sm-3 control-label"> سبب الاتصال الرئيسي</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option selected>اختر السؤال</option>
                    <option>طلب</option>
                  </select>
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->
            <div class="form-group">
              <div class="col-sm-12">
                <label for="inputQ2" class="col-sm-3 control-label"> سبب الاتصال الفرعي</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option selected>اختر السؤال</option>
                    <option>تغيير منطقة الصرف</option>
                  </select>
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->
            <div class="form-group">
              <!-- radio -->
              <div class="col-sm-12">
                <label for="inputGender" class="col-sm-3 control-label">الاهمية</label>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    مرتفع
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    متوسط
                  </label>
                </div>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    منخفض
                  </label>
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->
            <div class="form-group">
                <div class="col-sm-12">
                  <label for="inputTags" class="col-sm-3 control-label">العلامات</label>
                  <div class="col-sm-9">
                    <input class="form-control" id="ms1" type="text" name="ms1"/>
                  </div>
                </div><!-- /.col-->
              </div><!-- /.form-group -->
            <div class="form-group">
              <div class="col-sm-12">
                <label for="inputExperience" class="col-sm-3 control-label">تسليم الى</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option selected>اختر</option>
                    <option>مستشفى خميس مشيط</option>
                    <option>مستشفى حائل</option>
                    <option>مستشفى الرياض</option>
                  </select>
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->
            <div class="form-group">
              <div class="col-sm-12">
                <label for="inputExperience" class="col-sm-3 control-label">الحالة</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option selected>اختر</option>
                    <option>جديد</option>
                    <option>مفتوح</option>
                    <option>معلق</option>
                    <option>تم حلها</option>
                  </select>
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->
            <div class="form-group dateTime">
              <div class="col-sm-12">
                <label for="inputCompany" class="col-sm-3 control-label">تاريخ الإنشاء</label>
                <div class="col-sm-9"><!-- add class "has-warning" for validation-->
                  <input class="date form_date form-control" data-date-format="dd/MM/yyyy" type="text" value="" placeholder="29/08/2019" disabled="">
                  <!-- <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i>رسالة تنبية تظهر هنا</label> -->
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->
            <div class="form-group dateTime">
              <div class="col-sm-12">
                <label for="inputSkills" class="col-sm-3 control-label">تاريخ الاغلاق</label>
                <div class="col-sm-9">
                  <input class="date form_date form-control" data-date-format="dd/MM/yyyy" type="text" value="" placeholder="dd/MM/yyyy">
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->

            <div class="form-group">
              <div class="col-sm-12">
                <label for="exampleInputFile" class="col-sm-3 control-label">مرفقات</label>
                <div class="col-sm-9">
                  <input type="file" id="exampleInputFile">
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->
            <div class="form-group">
              <div class="col-sm-12">
                <label for="inputDetails" class="col-sm-3 control-label">تفاصيل</label>
                <div class="col-sm-9"><!-- add class "has-error" for validation-->
                  <textarea rows="6" class="form-control" id="inputDetails" placeholder="التفاصيل"></textarea>
                  <!-- <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i>خطأ في الأدخال</label> -->
                </div>
              </div><!-- /.col-->
            </div><!-- /.form-group -->
            <div class="col-xs-12">
              <button type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#rate">التقييم</button>
              <button type="button" class="pull-right btn btn-success margin-r-10" data-toggle="modal" data-target="#modal-success">حفظ</button>
            </div>
        </form>
    </div><!-- /.box-body -->
  </div>